@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  font-family: Montserrant-SemiBold;
  src: url("/fonts/Montserrat-SemiBold.ttf") format('opentype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrant-Regular;
  src: url("/fonts/Montserrat-Regular.ttf") format('opentype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrant-Bold;
  src: url('/fonts/Montserrat-Bold.ttf');
  font-style: normal;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
}
